.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    background-color: black;
    margin-bottom: 102px;
    padding: 30px 90px;
    border-radius: 6px;
    width: 500px;
    color: whitesmoke;
}
#input {
    border-radius: 3px;
}

